* {
	font-family:Verdana, Geneva, sans-serif;
	margin: 0;
	margin: 0;
	text-decoration: none;
	font-weight: 200;
	color: rgb(15, 63, 58);
	letter-spacing: 0.08em;
}

body {
	background-color: rgb(232, 247, 249);
}

nav {
	height: 50px;
	font-size: 1.25em;
	text-align: center;

	background-color: rgb(67, 104, 104);
	color: rgb(67, 104, 104);

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}

header {
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: right;
}

#home-header {
	background-image: url('https://github.com/wesley-tang/wesley-tang.github.io/blob/master/images/scenic.JPG?raw=true');
}

#about-header {
	background-image: url('https://github.com/wesley-tang/wesley-tang.github.io/blob/master/images/sky3.JPG?raw=true');
}

#code-header {
	background-image: url('https://github.com/wesley-tang/wesley-tang.github.io/blob/master/images/sky1.JPG?raw=true');
}

#designs-header {
	background-image: url('https://github.com/wesley-tang/wesley-tang.github.io/blob/master/images/plant1.JPG?raw=true');
}

h2 {
	font-size: 4em;
	font-weight: normal;

	color: rgb(20, 102, 160);
	
	/*background: -webkit-linear-gradient(rgb(20, 102, 160), rgb(37, 140, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
  /*Above from: https://css-tricks.com/snippets/css/gradient-text/*/

  letter-spacing: 0.4em;
}

#home-heading {
	margin-left: 46%;
	padding-top: 25%;
}
#about-heading {
	margin-left: 35%;
	padding-top: 23%;
	color: rgb(0, 60, 71);
}
#code-heading {
	margin-left: 46%;
	padding-top: 25%;
}
#designs-heading {
	color: rgb(200, 250, 250);
	margin-left: 6%;
}


section {
	min-height: 200px;
	max-height: 400px;
	
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 5%;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	border-bottom: 3px solid rgb(160, 200, 200);


}

h1 {
	font-weight: lighter;
	font-size: 1.50em;
	color: rgb(37, 140, 128);
}


footer {
	background-color: darkgrey;
	height: 50px;
	font-size: 0.75em;
}

img {
	max-width: 100%;
	max-height: 100%;
}

p {
	letter-spacing: 0.02em;
}

table, th, td {
	border: none;
	border-collapse: collapse;

}

th {
	height: 30px;
	background-color: rgb(118, 212, 226);
}

.heading {
	/*background-image: linear-gradient(to right, rgba(135, 168, 183, 1), rgba(229, 255, 254, 0));*/

	margin-top: 1.75%;
	margin-bottom: 1%;
	margin-left: 2%;
}

#about {
	color: rgb(45, 45, 45);
}

#code {
	color: lightgrey;
}

.contents {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 100%;
	height: 80%;
	margin-top: 2%;

}

#bio-content {
	display: row;
}

.nav-item {
	color: rgb(67, 104, 104);
	margin-top: 10px;
}

#pfp {
	max-height: 90%;
	margin-left: 2%;
	margin-top: 2%;
	height: 90%

}

#bio-box {
	order: 2;
	width: 40%;
	height: 90%;
	margin-left: 6%;

}

#bio {
	margin: 3%;
}

.projects {
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	margin-top: 4%;
}

.code-project {
	background-color: rgb(200, 230, 230); 
	height: 120px;
	width: 120px;
	margin: 5%;
	border-radius: 15px;
	text-align: center;
	font-size: 1.2em;
	
	transition: background .2s, transform .2s ease-in;
}

.code-project:hover{
	background: rgb(160, 210, 210);
	transform: scale(.95,.95);
}

#photos-button {
	background-image: url('images/bird.png');
	background-repeat: no-repeat;
	background-size: cover;

	color: rgb(250, 250, 250);
}
#art-button {
	background-image: url('images/drawing.png');
	background-repeat: no-repeat;
	background-size: cover;

	color: rgb(250, 250, 250);
}


.design-item{
	height: 250px;
	width: 250px;



	font-size: 1.2em;
	text-align: center;
}

/*https://stackoverflow.com/questions/43938860/how-to-tint-image-with-css*/

.design-item:hover:before{
	background: none;
}

.icon {
	height: 50px;
	width: 50px;
}

/*https://www.w3schools.com/howto/howto_css_overlay.asp*/